@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body, h1, h2, h3, p, div, nav, section, main, figure, ul, article {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #efeff1;
}

h3 {
    color: #4e596d;
}

p {
    text-indent: 20px;
    padding-top: 14px;
    color: #404040;
}

img{
    max-width: 100%;
    height: auto;
}

figure {
    text-align: center;
}

figcaption {
    font-weight: bold;
    color: #545454;
}

footer, .footer-fans {
    background: #014c77;
    padding: 12px 50px 8px;
    color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-fans {
    height: 40px;
}

article.card {
    transition: all 0.5s;
}

article.card:hover {
    box-shadow: 0px 0px 21px -9px black;
    transform: scale(1.06);
}

nav ul li {
    margin: 1px 0;
}

nav ul li a {
    padding: 2px 12px 2px 8px;
    text-transform: uppercase;
}

nav ul li a:hover {
    transition: 0.3s;
    text-shadow: 0px 0px 2px white;
}

.content {
    padding: 30px 20px 30px;
    background: white;
}

nav {
    float: left;
}

.header-fixed {
    height: 58px;
    width: 100%;
    background: rgb(1, 76, 119);
    z-index: 2;
    top: 0;
    position: fixed;
    box-shadow: 0px 3px 14px 1px black;
}

.fixed-top {
    background: inherit;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
}

.logo {
    background: url(../img/logo.png) no-repeat;
    float: right;
    background-size: 50px;
    height: 54px;
    width: 50px;
    margin-top: 3px;
    animation: showlogo 1.5s;
    animation-timing-function: ease-in-out;
    position: relative;
    z-index: 1031;
}

.mb {
    margin-bottom: 7rem;
}

/*.card {
    width: 350px;
    height: 208px;
    margin: 28px auto;
    text-align: center;
    background: #efeff1;
    padding: 15px 15px 26px;
    box-shadow: 1px 2px 6px 1px #014c77;
}*/

.result {
    font-size: 50px;
    margin: 30px 0;
    color: #272d40;
}

.img-match {
    margin: -4px 9px;
    width: 80px;
    height: 80px;
}

.score__info {
    font-size: 44px;
    color: #4e596d;
}

.button-wrap {
    display: flex;
    align-items: flex-end;
}

.img-upload {
    width: 50%;
    margin: 0 auto;
}

.bgr-container {
    padding: 13px 30px 13px;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 8px 0px #d0d0d0;
}

@keyframes showlogo {
  from {
    top: -85px;
  }
  to {
    top: 0px;
  }
}

nav.menu {
    margin-top: 5px;
}

/* Bootstrap DropDown styling */
.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin-top: 0;
  padding: 0;
  border: 0;
  background: #014c77;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: #014c77;
}

.dropdown-menu.fade {
  display: block;
  max-height: 0;
  opacity: 1;
  pointer-events: none;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.dropdown:hover .dropdown-menu.fade {
  max-height: 150px;
  pointer-events: auto;
    color: white;
}

a.dropdown-item.nav-link {
    color: white;
}

nav ul li a:hover {
    color: white;
    transition: all 0.5s;
}

/* END: Bootstrap DropDown styling */

/*.dropdown {
    display: none;
}

.dropdown li {
    display: block;
}

nav ul li:hover .dropdown{
    position: fixed;
    width: 202px;
    margin-top: 0px;
    display: block;
    background: #014c77;
}*/

textarea#newsText {
    height: 160px;
}

.title {
    text-align: center;
    color: rgb(55, 64, 90);
    text-transform: uppercase;
    font-size: 40px;
}

.banner-text {
    padding-top: 310px;
    font-size: 24px;
    color: white;
    animation: showtext 1.5s;
    animation-timing-function: cubic-bezier(1,0,0,.5);
    position: relative;
}

@keyframes showtext {
  from {
    left: -550px;
  }
  to {
    left: 25px;
  }
}

.fans{
    margin-top: 100px;
}

.name-fan {
    float: right;
}

.form-сomment {
    text-align: center;
}

.name-comment {
    width: 316px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    margin-bottom: 10px;
}

.text-comment:focus, .name-comment:focus {
    border: 1px solid rgb(10, 76, 131);
    outline: 0;
}

.text-comment {
    padding: 10px;
    border: 1px solid #d2d2d2;
    margin-bottom: 10px;
    width: 316px;
    height: 127px;
}

.btn-send {
    border: 1px solid #586a79;
    background: #3a5f98;
    padding: 6px 22px;
    font-size: 16px;
    color: white;
    border-radius: 17px;
    margin-bottom: 15px;
    text-shadow: 1px 0px 16px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    outline: 0;
}
.btn-send:hover {
    border: 1px solid #586a79;
    background: #355380;
    transition: 0.3s;
}
.btn-send:focus {
    text-shadow: none;
    box-shadow: none;
}
.footer {
    text-align: center;
}