<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FC Chelsea</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header class="mb">
        <div class="header-fixed">
            <div class="container p-0 fixed-top">
                <nav class="navbar navbar-expand-md">
                    <button class="navbar-toggler navbar-dark collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                        <ul class="navbar-nav mr-auto mt-0 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Main</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Matches
                                </a>
                                <div class="dropdown-menu fade">
                                    <a class="dropdown-item nav-link" href="calendar-of-matches.html">Calendar of matches</a>
                                    <a class="dropdown-item nav-link" href="#">Next game</a>
                                    <a class="dropdown-item nav-link" href="#">Raitings</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="news.html">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="fans.html">Fans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contacts.html">Contacts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="admin.html">Admin</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="container p-0">
                <a href="index.html" class="logo"></a>
            </div>
        </div>
    </header>
    <main>
        <section class="mb-4">
            <div class="container bgr-container">
                <h1 class="title">News</h1>
                <div id="news-container" class="row">
 
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container footer">
            <span>© 2019 Yurii Martynenko</span>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="module" src="js/news.js"></script>
</body>

</html>