<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вияснити, чи входить цифра 3 в запис числа n^2</title>
</head>

<body>
    <script>
        function getReversedNum(n) {
            let result = 0;
            while (n) {
                result = result * 10 + n % 10;
                n = Math.floor(n / 10);
            }
            return result;
        }
        console.log(getReversedNum(1576));
// or
    const getReversed = number => { console.log(parseInt(number.toString().split('').reverse().join(''))); }
    getReversed(56);

    </script>
</body>

</html>